body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c3c;
    color: #fff;
  }
  .timeline-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
  }
  
  .timeline-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    z-index:1;
  }
  
  .timeline-icon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .timeline-content {
    background-color: #28284a;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .timeline-content h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .timeline-content h4 {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 10px;
  }
  
  .timeline-content h5 {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 15px;
  }
  
  .timeline-content ul {
    padding-left: 20px;
    list-style: none;
  }
  
  .timeline-content ul li {
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
    margin-bottom: 10px;
    position: relative;
  }
  .timeline-content ul li:before {
    content: '•';
    position: absolute;
    left: -15px;
    color: #ffffff;
  }
  
  /* Continuous Vertical Line */
  .timeline:before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #fff;
    top: 50px;
    bottom: 0;
    transform: translateX(-50%);
    left: 25px; /* This matches the left position of the icon */
  }
  
  .timeline-item:before {
    content: none; /* Remove the individual line for each item */
  }
  .timeline-icon {
    margin-left: -20px; /* Centers the icon on the line */

  }
  